<div class="container">

  <div class="row">
    <div class="column">
      <div class="ui massive blue message">
        <h1 class="ui header">Welcome to Super rich fund stock option worksheet!</h1>
        <p>Tools for analysing HK stock and option.</p>
      </div>
    </div>
  </div>

  <br/>
  <div class="row">
    <p>For checking open interest, please check <a href="#option-details">here</a></p>
    <p>For checking implied volatility, please check <a href="#option-iv">here</a></p>
    <br/>
    <p><i class="copyright icon"></i>All right reserved by Toxic Lab 2016-2018
    </p>
  </div>
</div>